.card-container {
  padding: 20px 0 50px;
}

.inner-container {
  margin: 0 auto;
  max-width: 100%;
  width: 1180px;
}

.cards {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-wrapper {
  margin-right: 46px;
  margin-bottom: 40px;
  min-width: 240px;
  border-radius: 5px;
  border: solid 1px #eaeaea;
  background: #ffffff;
  padding: 30px 30px 24px;
  text-align: left;
  -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
  width: calc((100% - 93px) / 6);
}

.cards-image {
  min-width: 200px;
  height: 200px;
  object-fit: contain;
  margin: auto;
  width: 100%;
  max-height:100%
}

.cards-copy {
  font-size: 18px;
  color: #464646;
  line-height: 1.5;
  margin: 30px 0 5px;
}

@media (max-width: 1000px) {
  .cards-wrapper {
    width: calc((100% - 93px) / 3);
  }
}


@media (max-width: 600px) {
  .cards-wrapper {
    width: calc((100% - 93px) / 2);
  }
}

@media (max-width: 400px) {
  .cards-wrapper {
    width: calc((100% - 93px));
  }
}
